In [27]:
import numpy as np

In [2]:
def nangmean(arr):
    arr = np.asarray(arr)
    inverse = 1 / np.sum(~np.isnan(arr))
    apoio = inverse * np.nansum(np.log(arr))
    nangmean = np.exp(apoio)
    return nangmean

In [3]:
nangmean([1,3])

1.7320508075688774

In [9]:
arr = np.asarray([1,2])
arr

array([1, 2])

In [18]:
inverse = 1/ np.sum(~np.isnan(arr))

In [22]:
np.exp(inverse * np.nansum(np.log(arr)))

1.414213562373095

In [40]:
import export_to_pivot as exp
import gera_inflacao_mes as gim

In [41]:
df1 = round(gim.gera_inflacao_mes(gim.price_pivot, subitem=None, ano_mes=None),5)

In [74]:
df1.T

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
ipc_subitem_name,acem,acucar_cristal,acucar_refinado,alcatra,arroz,banana_nanica,banana_prata,banana_terra,batata_inglesa,cafe_po,...,feijao_preto,leite,macarrao,manteiga,margarina,oleo_soja,pao_forma,pao_frances,patinho,tomate
2017-Aug,0.988,0.93474,0.96638,1.00134,0.98008,0.95099,0.97452,0.99791,1.00374,1.00732,...,0.98248,0.95079,1.00125,1.00622,0.98784,0.97616,0.97736,0.9915,1.0056,0.85794
2017-Jul,1.03228,0.97782,1.00078,0.97155,0.99559,1.02567,0.99191,1.00709,0.79903,0.99418,...,1.01007,0.97152,0.98204,1.00776,0.99019,0.99193,0.99538,0.99011,0.99668,1.23971
2017-Jun,1.01525,0.99798,0.99769,0.99025,0.99317,1.1483,0.96712,1.00047,0.91129,0.99692,...,0.97156,0.9884,1.00726,1.00821,1.00484,0.99296,1.00913,1,0.98439,1.03007
2017-Sep,0.98753,0.95273,0.953,1.00721,0.98653,0.93379,0.98018,0.9978,0.9027,0.99824,...,0.97179,0.97214,0.99482,0.99431,0.98704,0.98053,0.98619,0.99801,1.01771,0.9119

In [77]:
x_data = df1.columns[1:]
y_data = df1['ipc_subitem_name']    

traces=[]
for i in range(len(df1['ipc_subitem_name'])):
    traces.append(go.Scatter(
        x = x_data,
        y = df1.T[i],
        name = y_data[i]
    ))

NameError: name 'go' is not defined

In [82]:
df1.columns[1:]

Index(['2017-Aug', '2017-Jul', '2017-Jun', '2017-Sep'], dtype='object')